name: Test python

on:
  pull_request:
    paths:
      - .github/workflows/test.yml
      - pyproject.toml
      - uv.lock
      - dbt_artifacts_parser/**/*.py
      - tests/**/*.py
      - pylintrc
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
      fail-fast: false

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install -r requirements.setup.txt
          bash dev/setup.sh --deps "development"
      - name: Run tests
        run: bash dev/test_python.sh
      - name: Test build
        run: |
          bash dev/build.sh
      - name: Test installation
        run: |
          pip install -e .
          python -c 'import dbt_artifacts_parser'
