name: Test python

on:
  pull_request:
    paths:
      - .github/workflows/test.yml
      - 'pyproject.toml'
      - 'dbt_artifacts_parser/**/*.py'
      - 'tests/**/*.py'
      - 'pylintrc'
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
      fail-fast: false

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v3
        id: cache
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ runner.os }}-python-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}-test
      - name: Install Flit
        if: steps.cache.outputs.cache-hit != 'true'
        run: bash dev/setup.sh
      - name: Lint
        if: ${{ matrix.python-version != '3.6' }}
        run: bash dev/lint_python.sh
      - name: Run tests
        run: bash dev/test_python.sh
      - name: Test installation
        run: |
          pip install -e .
          python -c 'import dbt_artifacts_parser'
